.modalCard {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 95vh;
    min-height: 51rem;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: var(--generalSans);
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(0);

    &.visible {
        transform: translate(-50%, -50%) scale(1);
    }

    &.hidden {
        transform: translate(-50%, -50%) scale(0);
    }

    @media (max-width: 768px) {
        height: 100vh;
        min-height: 100vh;
    }

    @media (min-width: 768px) {
        border-radius: 0 0 32px 32px;
    }
}

.w_full {
    max-width: 1100px;

}
